@{
    var user = Context.User() ?? new();
}
<head>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="vm" v-cloak>
        <div class="row">
            <div class="col-lg-4" v-for="Product in Products">
                <div class="img-thumbnail" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                    <img :src="Product.pic" style="width:70%" />
                    <div class="caption">
                        <h4>{{ Product.name }}</h4>
                        <p>單價:{{ Product.price }}</p>
                        <button class="btn btn-primary" v-on:click="showCartModal(Product)">加入購物車</button>
                    </div>
                </div>
            </div>
        </div>
        <!---- modal-form: 新増/編輯 ----->
        <div class="modal" tabindex="-1" id="addCartModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">加入購物車</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <button v-on:click="Decrease">-</button>
                        <input v-model="count" />
                        <button v-on:click="Increase">+</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="addToTheCart">新增</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts{
    <script>
        new Vue({
            el: '#vm',
            data: {
                Products: @Html.Raw(ViewBag.Products),
                count: 1,
                addCartProduct: {},
            },
            methods: {
                showCartModal: function (Product) {
                    //if(@user.pk===0){
                    //    swal.fire({
                    //        title: "請先登入",
                    //        icon: 'error',
                    //    }).then(function () {
                    //        window.location.href = '@Url.Action("Index","Login")';
                    //    });
                    //    return;
                    //}
                    count = 1;
                    this.addCartProduct = Product;
                    $("#addCartModal").modal('show');
                },
                Decrease: function () {
                    if (this.count === 1) {
                        return;
                    }
                    this.count--;
                },
                Increase: function () {
                    this.count++;
                },
                addToTheCart: function () {
                    if (this.count <= 0) {
                        swal.fire({
                            title: "訂購數量不可小於或等於0",
                            icon: 'error',
                        });
                        return;
                    }

                    // 获取当前购物车
                    var cart = this.getCart();
                    var found = cart.find(item => item.commodityPk === this.addCartProduct.pk);
                    //车中是否已有该商品
                    if (found) {
                        // 如果商品已存在，更新数量
                        found.count += this.count;
                    } else {
                        // 如果商品不存在，添加到购物车
                        cart.push({
                            accPk: @Html.Raw(user.pk),
                            commodityPk: this.addCartProduct.pk,
                            count: this.count
                        });
                    }

                    // 保存购物车到 Cookie
                    this.saveCart(cart);

                    // 显示成功消息
                    swal.fire({
                        title: "新增成功",
                        icon: 'success',
                    });
                },
                getCart: function () {
                    var cart = Cookies.get('cart');
                    return cart ? JSON.parse(cart) : [];
                },
                saveCart: function (cart) {
                    Cookies.set('cart', JSON.stringify(cart), { expires: 7, path: '' });
                }
            }
        })

    </script>
}
